*		{margin:0;	padding:0;}
header	{background: rgb(0, 0, 0);	height:90px;}
header:hover {background-color: #191970
    ;}
.center-img {
    display: block;
    margin:  auto;
    position: relative;
}
nav		{background-color:black
    ;}
main		{clear:both;}
article	{
    background: rgb(73, 73, 73);
    margin-left:300px;	
    min-height:805px;
    margin-right:300px;
    color:#FFF;   
    }
article h1 {font-size: 200%; 
    text-align: center;
    }
article p {font-size: large; margin: 0px 30px 0px;}
.p1{
    margin-top:30px;
}
.p2{
    margin-top:30px;
}
aside	{background: rgb(43, 42, 42);
        width:300px;
        min-height:805px;
        float:left; 
       }           
aside.aa{
    background: rgb(43, 42, 42);
    width:300px;
    min-height:805px;
    float:right; 
    }
footer	{background: black;
    min-height: 24px;
    }
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

nav ul li {
    margin: 0px 150px 0 0;
    left: 18%;
    position: relative;
    display:inline-block;
    background-color:black;
    }
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 50px;
    text-decoration:none;   
}
nav ul li a:visited {color: darkgrey;}
nav ul li a:hover {
    background-color: #E64A19;
    text-decoration: line-through    ;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul li:hover > ul {
    display:inherit;
}
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
