* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: sans-serif;
}


.top {
    justify-content: space-around;
    padding: .45em;
    display: flex;
    justify-content: space-between;
    background-color: #742f2f;
}

.logo {
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo > img {
    width: 60px;
}

.logo > span {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

menu {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

menu > a {
    text-decoration: none;
    padding: .5em 1em;
    text-transform: uppercase;
    color: #fff;
}

menu > a:hover {
    background-color: #4b2a2a;
}

/* Page Content */

main {
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

main > section {
    width: 23%;
    height: 720px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

/* Bottom Navigation */

nav.bottom {
    display: flex;
    justify-content: center;
    background-color: #4d2424;
}

nav.bottom > a {
    padding: .5em 1.5em;
    text-decoration: none;
}

nav.bottom > a:hover {
    background-color: #6e2626;
}

/* Footer */

footer {
    padding: 0.5em;
    text-align: center;
    background-color: #2e1414;
}

/* Other */

nav.bottom > a,
footer {
    color: #fff;
}